html,
body {
  margin: auto;
  padding: 0;
  background-image: url("https://freefrontend.com/assets/img/css-weather-icons/Animated-Weather-Icons-Pure-CSS.gif");
  background-position: top;
}

.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#searchBox {
  display: block;
  margin: auto;
  margin-top: 60px;
  border: 0px;
  border-bottom: 2px solid white;
  outline: 0px;
  padding: 3px 3px 3px 0px;
  background: transparent;
  height: 60px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

p {
  position: relative;
  margin: 15px;
  text-align: center;
  color: white;
  font-size: 50px;
}

#description {
  margin: 0;
  font-size: 20px;
}
#temp {
  font-size: 110px;
  margin-bottom: 40px;
}
.weather-icon {
  display: block;
  margin: auto;
}
